labels:
  env: dev
  team: eve
spec:
  env: dev
  clusterName: vexere-eks-prod

  ingress:
    host: ""
    type: alb
    groupName: eve # để nhiều ingress share 1 ALB (Ingress Group)
    scheme: internet-facing # internal hoặc internet-facing
    targetType: ip
    listenPorts: '[{"HTTP":80}]' # hoặc '[{"HTTP":80,"HTTPS":443}]' nếu có SSL

  karpenterInstanceProfile: ""

# Danh sách microservices cần deploy trong Chart
# Các app đều có containerPort là 8080, khi deploy lên EKS sẽ không bi conflict miễn là mỗi app chạy ở pod khác nhau - file Deployment riêng. (vì mỗi Pod có IP + network namespace riêng)
# Đối với service ClusterIP, nếu cần expose ra ngoài qua Ingress thì chỉ cần mỗi service có servicePort khác nhau là được.
apps:
  # Gateway Server
  - name: gatewayserver
    resources:
      requests:
        cpu: 50m
        memory: 128Mi
      limits:
        cpu: 100m
        memory: 256Mi
    containerPort: 8080
    servicePort: 80
    ingress:
      enabled: true
      path: /v1
    image:
      repository: 995138770378.dkr.ecr.ap-southeast-1.amazonaws.com/eve/gatewayserver
      tag: dac337b
    env:
      - name: SERVER_PORT
        value: "8080"
      - name: BUS_OPERATOR_URI
        value: http://bus-operator-application.team-eve.svc.cluster.local
      - name: FLEET_URI
        value: http://fleet-application.team-eve.svc.cluster.local
      - name: OTEL_SERVICE_NAME
        value: gatewayserver
      - name: OTEL_RESOURCE_ATTRIBUTES
        value: "deployment.environment=dev,service.version=1.0.0"
      - name: OTEL_TRACES_EXPORTER
        value: "otlp"
      - name: OTEL_EXPORTER_OTLP_PROTOCOL
        value: "http/protobuf"
      - name: OTEL_EXPORTER_OTLP_ENDPOINT
        value: "http://otelcol-gateway-opentelemetry-collector.observability.svc.cluster.local:4318"
      - name: OTEL_TRACES_SAMPLER
        value: traceidratio # tạm thời đổi sang traceidratio do parentbased_traceidratio có vẻ không hoạt động đúng
      - name: OTEL_TRACES_SAMPLER_ARG
        value: "1.0"
  # Bus Operator Microservices
  - name: bus-operator-application
    replicas: 2
    resources:
      requests:
        cpu: 150m
        memory: 256Mi
      limits:
        cpu: 300m
        memory: 512Mi
    containerPort: 8080
    servicePort: 80
    service:
      enabled: true
    image:
      repository: 995138770378.dkr.ecr.ap-southeast-1.amazonaws.com/eve/bus-operator-application
      tag: 66d7001
    ingress:
      enabled: false
    env:
      - name: SPRING_PROFILES_ACTIVE
        value: dev
      - name: SPRING_DATASOURCE_USERNAME
        valueFrom:
          secretKeyRef:
            name: bus-operator-secret
            key: username
      - name: SPRING_DATASOURCE_PASSWORD
        valueFrom:
          secretKeyRef:
            name: bus-operator-secret
            key: password
      - name: SERVER_PORT
        value: "8080"
      - name: OTEL_SERVICE_NAME
        value: bus-operator-application
      - name: OTEL_RESOURCE_ATTRIBUTES
        value: "deployment.environment=dev,service.version=1.0.0"
      - name: OTEL_TRACES_EXPORTER
        value: "otlp"
      - name: OTEL_EXPORTER_OTLP_PROTOCOL
        value: "http/protobuf"
      - name: OTEL_EXPORTER_OTLP_ENDPOINT
        value: "http://otelcol-gateway-opentelemetry-collector.observability.svc.cluster.local:4318"
      - name: OTEL_TRACES_SAMPLER
        value: parentbased_traceidratio
      - name: OTEL_TRACES_SAMPLER_ARG
        value: "1.0"
  - name: bus-operator-worker
    replicas: 1
    resources:
      requests:
        cpu: 50m
        memory: 128Mi
      limits:
        cpu: 100m
        memory: 256Mi
    containerPort: 8080
    service:
      enabled: false
    image:
      repository: 995138770378.dkr.ecr.ap-southeast-1.amazonaws.com/eve/bus-operator-worker
      tag: f097e69
    ingress:
      enabled: false
    env:
      - name: SPRING_PROFILES_ACTIVE
        value: dev
      - name: SPRING_DATASOURCE_USERNAME
        valueFrom:
          secretKeyRef:
            name: bus-operator-secret
            key: username
      - name: SPRING_DATASOURCE_PASSWORD
        valueFrom:
          secretKeyRef:
            name: bus-operator-secret
            key: password
      - name: SERVER_PORT
        value: "8080"
      - name: OTEL_SERVICE_NAME
        value: bus-operator-worker
      - name: OTEL_RESOURCE_ATTRIBUTES
        value: "deployment.environment=dev,service.version=1.0.0"
      - name: OTEL_TRACES_EXPORTER
        value: "otlp"
      - name: OTEL_EXPORTER_OTLP_PROTOCOL
        value: "http/protobuf"
      - name: OTEL_EXPORTER_OTLP_ENDPOINT
        value: "http://otelcol-gateway-opentelemetry-collector.observability.svc.cluster.local:4318"
      - name: OTEL_TRACES_SAMPLER
        value: parentbased_traceidratio
      - name: OTEL_TRACES_SAMPLER_ARG
        value: "1.0"
  # Fleet Microservices
  - name: fleet-application
    replicas: 2
    containerPort: 8080
    servicePort: 80
    service:
      enabled: true
    image:
      repository: 995138770378.dkr.ecr.ap-southeast-1.amazonaws.com/eve/fleet-application
      tag: 0832c29
    ingress:
      enabled: false
    env:
      - name: SPRING_PROFILES_ACTIVE
        value: dev
      - name: SPRING_DATASOURCE_USERNAME
        valueFrom:
          secretKeyRef:
            name: fleet-secret
            key: username
      - name: SPRING_DATASOURCE_PASSWORD
        valueFrom:
          secretKeyRef:
            name: fleet-secret
            key: password
      - name: SERVER_PORT
        value: "8080"
  - name: fleet-worker
    replicas: 1
    containerPort: 8080
    service:
      enabled: false
    image:
      repository: 995138770378.dkr.ecr.ap-southeast-1.amazonaws.com/eve/fleet-worker
      tag: 0832c29
    ingress:
      enabled: false
    env:
      - name: SPRING_PROFILES_ACTIVE
        value: dev
      - name: SPRING_DATASOURCE_USERNAME
        valueFrom:
          secretKeyRef:
            name: fleet-secret
            key: username
      - name: SPRING_DATASOURCE_PASSWORD
        valueFrom:
          secretKeyRef:
            name: fleet-secret
            key: password
      - name: SERVER_PORT
        value: "8080"



migrations:
  - name: bus-operator-migration
    image:
      repository: 995138770378.dkr.ecr.ap-southeast-1.amazonaws.com/eve/bus-operator-migration
      tag: f097e69
    env:
      - name: SPRING_PROFILES_ACTIVE
        value: dev
      - name: SPRING_DATASOURCE_USERNAME
        valueFrom:
          secretKeyRef:
            name: bus-operator-secret
            key: username
      - name: SPRING_DATASOURCE_PASSWORD
        valueFrom:
          secretKeyRef:
            name: bus-operator-secret
            key: password
      - name: SERVER_PORT
        value: "8080"
    syncWave: -1
  - name: fleet-migration
    image:
      repository: 995138770378.dkr.ecr.ap-southeast-1.amazonaws.com/eve/fleet-migration
      tag: 0832c29
    env:
      - name: SPRING_PROFILES_ACTIVE
        value: dev
      - name: SPRING_DATASOURCE_USERNAME
        valueFrom:
          secretKeyRef:
            name: bus-operator-secret
            key: username
      - name: SPRING_DATASOURCE_PASSWORD
        valueFrom:
          secretKeyRef:
            name: bus-operator-secret
            key: password
      - name: SERVER_PORT
        value: "8080"
    syncWave: -1


# Credentials AWS Secret Manager
secretStoreRef:
  name: aws-sm
  kind: ClusterSecretStore

credentials:
  - name: bus-operator
    namespace: team-eve
    targetName: bus-operator-secret
    remoteKey: prod/bus-operator
    data:
      - secretKey: username
        property: username
      - secretKey: password
        property: password
  - name: fleet
    namespace: team-eve
    targetName: fleet-secret
    remoteKey: prod/fleet
    data:
      - secretKey: username
        property: username
      - secretKey: password
        property: password