labels:
  env: dev
  team: eve
spec:
  env: dev
  clusterName: vexere-eks-prod

  ingress:
    host: ""
    type: alb
    groupName: eve # để nhiều ingress share 1 ALB (Ingress Group)
    scheme: internet-facing # internal hoặc internet-facing
    targetType: ip
    listenPorts: '[{"HTTP":80}]' # hoặc '[{"HTTP":80,"HTTPS":443}]' nếu có SSL

  karpenterInstanceProfile: ""

# Danh sách microservices cần deploy trong Chart
apps:
  - name: bus-operator-application
    replicas: 2
    containerPort: 8080
    servicePort: 80
    service:
      enabled: true
    image:
      repository: 995138770378.dkr.ecr.ap-southeast-1.amazonaws.com/eve/bus-operator-application
      tag: latest
    ingress:
      enabled: true
      path: /bus-operator
    env:
      - name: SPRING_PROFILES_ACTIVE
        value: dev
      - name: SPRING_DATASOURCE_USERNAME
        valueFrom:
          secretKeyRef:
            name: bus-operator-secret
            key: username
      - name: SPRING_DATASOURCE_PASSWORD
        valueFrom:
          secretKeyRef:
            name: bus-operator-secret
            key: password
  - name: bus-operator-worker
    replicas: 1
    containerPort: 8080
    service:
      enabled: false
    image:
      repository: 995138770378.dkr.ecr.ap-southeast-1.amazonaws.com/eve/bus-operator-worker
      tag: latest
    ingress:
      enabled: false
    env:
      - name: SPRING_PROFILES_ACTIVE
        value: dev
      - name: SPRING_DATASOURCE_USERNAME
        valueFrom:
          secretKeyRef:
            name: bus-operator-secret
            key: username
      - name: SPRING_DATASOURCE_PASSWORD
        valueFrom:
          secretKeyRef:
            name: bus-operator-secret
            key: password


migrations:
  name: bus-operator-migration
  image:
    repository: 995138770378.dkr.ecr.ap-southeast-1.amazonaws.com/eve/bus-operator-migration
    tag: latest
  env:
    - name: SPRING_PROFILES_ACTIVE
      value: dev
    - name: SPRING_DATASOURCE_USERNAME
      valueFrom:
        secretKeyRef:
          name: bus-operator-secret
          key: username
    - name: SPRING_DATASOURCE_PASSWORD
      valueFrom:
        secretKeyRef:
          name: bus-operator-secret
          key: password
  syncWave: -1
