labels:
  env: dev
  team: eve
spec:
  env: dev
  clusterName: vexere-eks-prod

  ingress:
    host: ""
    type: alb
    groupName: eve # để nhiều ingress share 1 ALB (Ingress Group)
    scheme: internet-facing # internal hoặc internet-facing
    targetType: ip
    listenPorts: '[{"HTTP":80}]' # hoặc '[{"HTTP":80,"HTTPS":443}]' nếu có SSL

  karpenterInstanceProfile: ""

# Danh sách microservices cần deploy trong Chart
# Các app đều có containerPort là 8080, khi deploy lên EKS sẽ không bi conflict miễn là mỗi app chạy ở pod khác nhau - file Deployment riêng. (vì mỗi Pod có IP + network namespace riêng)
# Đối với service ClusterIP, nếu cần expose ra ngoài qua Ingress thì chỉ cần mỗi service có servicePort khác nhau là được.
apps:
  # Bus Operator Microservices
  - name: bus-operator-application
    replicas: 2
    containerPort: 8080
    servicePort: 80
    service:
      enabled: true
    image:
      repository: 995138770378.dkr.ecr.ap-southeast-1.amazonaws.com/eve/bus-operator-application
      tag: latest
    ingress:
      enabled: true
      path: /bus-operator
    env:
      - name: SPRING_PROFILES_ACTIVE
        value: dev
      - name: SPRING_DATASOURCE_USERNAME
        valueFrom:
          secretKeyRef:
            name: bus-operator-secret
            key: username
      - name: SPRING_DATASOURCE_PASSWORD
        valueFrom:
          secretKeyRef:
            name: bus-operator-secret
            key: password
  - name: bus-operator-worker
    replicas: 1
    containerPort: 8080
    service:
      enabled: false
    image:
      repository: 995138770378.dkr.ecr.ap-southeast-1.amazonaws.com/eve/bus-operator-worker
      tag: latest
    ingress:
      enabled: false
    env:
      - name: SPRING_PROFILES_ACTIVE
        value: dev
      - name: SPRING_DATASOURCE_USERNAME
        valueFrom:
          secretKeyRef:
            name: bus-operator-secret
            key: username
      - name: SPRING_DATASOURCE_PASSWORD
        valueFrom:
          secretKeyRef:
            name: bus-operator-secret
            key: password
  # Fleet Microservices
  - name: fleet-application
    replicas: 2
    containerPort: 8080
    servicePort: 80
    service:
      enabled: true
    image:
      repository: 995138770378.dkr.ecr.ap-southeast-1.amazonaws.com/eve/fleet-application
      tag: latest
    ingress:
      enabled: true
      path: /fleet
    env:
      - name: SPRING_PROFILES_ACTIVE
        value: dev
      - name: SPRING_DATASOURCE_USERNAME
        valueFrom:
          secretKeyRef:
            name: fleet-secret
            key: username
      - name: SPRING_DATASOURCE_PASSWORD
        valueFrom:
          secretKeyRef:
            name: fleet-secret
            key: password
  - name: fleet-worker
    replicas: 1
    containerPort: 8080
    service:
      enabled: false
    image:
      repository: 995138770378.dkr.ecr.ap-southeast-1.amazonaws.com/eve/fleet-worker
      tag: latest
    ingress:
      enabled: false
    env:
      - name: SPRING_PROFILES_ACTIVE
        value: dev
      - name: SPRING_DATASOURCE_USERNAME
        valueFrom:
          secretKeyRef:
            name: fleet-secret
            key: username
      - name: SPRING_DATASOURCE_PASSWORD
        valueFrom:
          secretKeyRef:
            name: fleet-secret
            key: password



migrations:
  - name: bus-operator-migration
    image:
      repository: 995138770378.dkr.ecr.ap-southeast-1.amazonaws.com/eve/bus-operator-migration
      tag: latest
    env:
      - name: SPRING_PROFILES_ACTIVE
        value: dev
      - name: SPRING_DATASOURCE_USERNAME
        valueFrom:
          secretKeyRef:
            name: bus-operator-secret
            key: username
      - name: SPRING_DATASOURCE_PASSWORD
        valueFrom:
          secretKeyRef:
            name: bus-operator-secret
            key: password
    syncWave: -1
  - name: fleet-migration
    image:
      repository: 995138770378.dkr.ecr.ap-southeast-1.amazonaws.com/eve/fleet-migration
      tag: latest
    env:
      - name: SPRING_PROFILES_ACTIVE
        value: dev
      - name: SPRING_DATASOURCE_USERNAME
        valueFrom:
          secretKeyRef:
            name: bus-operator-secret
            key: username
      - name: SPRING_DATASOURCE_PASSWORD
        valueFrom:
          secretKeyRef:
            name: bus-operator-secret
            key: password
    syncWave: -1


# Credentials AWS Secret Manager
secretStoreRef:
  name: aws-sm
  kind: ClusterSecretStore

credentials:
  - name: bus-operator
    namespace: team-eve
    targetName: bus-operator-secret
    remoteKey: prod/bus-operator
    data:
      - secretKey: username
        property: username
      - secretKey: password
        property: password
  - name: fleet
    namespace: team-eve
    targetName: fleet-secret
    remoteKey: prod/fleet
    data:
      - secretKey: username
        property: username
      - secretKey: password
        property: password